{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
            <img class="one-third js-fullheight align-self-end order-md-last img-fluid"
                src="{% static 'site_index/images/undraw_book_lover_mkck.svg' %}" alt="">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text mt-5">
                    <span class="subheading">Bacharelado Ciências da Computação - IFG Anápolis</span>
                    <h1>My First Web</h1>
                    <p>Projeto de sistema web em python 3.8, framework Django {{ version }}.
                       Sistema base preparado em parceria da GOB System.</p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">GOB System + BCC-IFG</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}